<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qzb.http">

    <application>
        <activity
            android:name=".LoadingDialog"
            android:launchMode="singleTop"
            android:theme="@style/ActivityTransparent" />
    </application>

</manifest>